@import './variables.scss';

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  min-width: 100%;
  letter-spacing: 0.0625rem;
  background-color: $dark-blue;
  color: $white;
  .footer__content {
    margin: 0 auto;
    max-width: 93.75rem;
    padding-left: 1.45rem;
    a {
      color:$white;
    }
  }
  
}
@media (max-width: 21.875rem) {
  .footer {
    font-size: .8rem;
  }
}