@import '../styling/variables.scss';

header {
  display: block;
  margin-bottom: 1.45rem;
  border-radius: $border-radius;
  background-color: black;
  box-shadow: inset 0 0 0 .3rem $dark-blue;
  padding: .3rem;
}

.header {
  margin: 0 auto;
  max-width: 93.75rem;
  padding: 1.7rem 1.0875rem;
}

.header__text {
  margin: 0;
}

.header__link {
  color: $white;
  text-decoration: none;
}