header {
  display: block;
  background-color: rebeccapurple;
  margin-bottom: 1.45rem;
}

.header {
  margin: 0 auto;
  max-width: 93.75rem;
  padding: 1.45rem 1.0875rem;
}

.header__text {
  margin: 0;
}

.header__link {
  color: white;
  text-decoration: none;
}