@import './variables.scss';

.keyboard__title {
  h1 {
    font-size: 2rem;
    color: $pink;
  }
}

.keyboard__svg {
  width: 80%;
  @media(max-width: 37.5rem) {
    width: 90%
  }
  @media(max-width: 31.25rem) {
    width: 100%;
  }
}

.keyboard__intro {
  margin-bottom: 4rem;
}