@import './variables.scss';

.landing {
  h1 {
    font-size: 2rem;
    color: $pink
  }
}

.landing__keyboard-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.landing__keyboard-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.landing__keyboard-grid {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 2fr));
  grid-auto-rows: 1fr;
  font-size: 2rem;
  column-gap: 5%;
  row-gap: 3rem;
  margin-bottom: 4rem;
  a {
    color: $white;
    text-decoration: none;
  }
  .landing__keyboard-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.1rem solid $white;
    border-radius: $border-radius;
    transition: 0.3s;
    .landing__keyboard-grid-content {
      align-self: center;
    }
    min-height: 100%;
  }
  .landing__keyboard-grid-item:hover {
    color: $black;
    background-color: rgba($white, 0.8);
    cursor: pointer;
  }
}